/*Variables*/
@import url('https://fonts.googleapis.com/css2?family=Bangers&display=swap');
:root {
  /*Primario*/
  --main-pr-sombra2-color: #210442;
  --main-pr-sombra1-color: #320B5F;  
  --main-primario-color: #461C75;
  --main-pr-luz1-color: #5A308A;
  --main-pr-luz2-color: #744DA0;
  
  /*Secundario*/
  --main-sec-sombra2-color: #210442;
  --main-sec-sombra1-color: #320B5F;  
  --main-sec-secundario-color: #262087;
  --main-sec-luz1-color: #3E389D;
  --main-sec-luz2-color: #5954AD;
  
  /*BLANCO - NEGRO - ACENTO*/
  --main-blanco-color: #EEEAF3;
  --main-negro-color: #180F08;
  --main-acento-color: #A12974;

  /*Estados*/
  --main-verde-color: #3FA349;
  --main-amarillo-color: #C8C116;
  --main-rojo-color: #AE1632;

  /*Encabezado */

  /*Body*/
  --main-gradiente-color:linear-gradient(180deg, #320B5F 0.14%, #171419 99.26%);

  /*Fuentes*/
    --font-size-h1:25px;
    --font-family-h1: 'Roboto';

    --font-family-h2: 'Roboto';
    --font-size-h2:25px;
}


body{
    margin: 0%;   
    
}


/*Defino las secciones de la pagina con grid*/
.content {
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
header {
  /*grid-area: header;
  border: 1px black solid;
  width: 100%;
  height: 50px;
  background-color: #320b5f;
  display: block;
  justify-content: center;*/

  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 3.5rem;
  background:var(--main-gradiente-color);

}

.btn-menu{
  margin:0.625rem;
}
ul.nav {
  width: 100%;
  margin-top: 1.375px;
  padding: 0rem;
  display: none;
  flex-direction: column;
}
ul.nav.show {
  display: flex;
}

ul.nav li {
  list-style: none;
  padding: 0.625rem 0.625rem;
  font-family: 'Arial Narrow Bold';
}

ul.nav li a {
  text-decoration: none;
  color: white;
}

ul.nav li:hover {
  background-color: gray;
}

.img-logo{
    padding: 0rem;
  
}
.fondo-main{
  margin-top: 0rem;
  background: var(--main-gradiente-color);
  
}

footer {
  /*grid-area: footer;
  display: flex;
  justify-content: space-between;  
  width: 100%;
  border: 1px solid black;
  height: 100px;*/
  
}



/**@media only screen and (min-width: 1440px) {
  .content {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-areas: 
        /*Posicionamos los elementos donde queremos
        "header header header"
        "main  main main"
        "footer footer footer";
    }
    header {
      border: 1px black solid;
      height: 50px;
      background-color: #320b5f;
      width: auto;
    }
    main{
      grid-area: main;
      width: 100%;
      border: 1px solid black;
      height: 100%;
    }
    .form-registro{
      margin: 0 auto;
      display: flex;
      flex-direction: column;
      justify-content:flex-start;
      align-items: flex-start;
      font-weight: bolder;     
    }
  
    .Carousel {
      width: 100%;
      margin: 0px 60px;
  }
  
  .Carousel h3 {
      font-size: 26px;
      line-height: 38px;
      padding-bottom: 24px;
      opacity: .9;
      text-transform: uppercase;
      letter-spacing: 10px;
      text-align: left;
      font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* images
  
  .slick-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 269.62px; /* Cambiada la altura 
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
  }
  
  .slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: space-between; /* Distribuye el espacio entre los cards 
    transition: .5s ease-in-out;
    margin: 0 -5px; /* Añade un margen negativo para compensar el espacio agregado 
  }
  
  .slick {
    position: relative;
    width: 539.25px;
    height: 269.62px; /* Cambiada la altura 
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex
    border-radius: 8px; /* Nuevo radio de borde 
    background: #5C3030; /* Nuevo color de fondo 
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Nueva sombra 
    flex-shrink: 0; /* Evita que las imágenes se reduzcan 
    margin: 0 5px; /* Añade un espacio entre los cards 
  }
  
  .slick h4 {
    position: absolute;
    z-index: 1;
    font-size: 22px;
    line-height: 23px;
    color: #fff;
    padding: 15px;
  }
  
  .slick h4 small {
    font-size: 15px;
    display: block;
  }
  
  .slick a img {
  object-fit: cover;
  height: 100%; /* Cambiado a porcentaje para adaptarse al contenedor 
  width: 100%;
  border-radius: 8px; /* Nuevo radio de borde 
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25); /* Nueva sombra 
  transition: .3s ease-in-out;
  }
  .slick a img:hover {
    opacity: .85;
  }
  
  
  /* buttons 
  
  .slick-arrow{
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
  }
  .slick-arrow:focus{
    outline: 0;
  }
  .slick-arrow svg{
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
  }
  .slick-prev{
    left: 0px;
  }
  .slick-next{
    right: 0px;
  }
  
  
  
  /*Carrusel mas chico
  .CustomCarousel {
    width: 100%;
    margin: 0px 60px;
  }
  
  .CustomCarousel h3 {
    font-size: 26px;
    line-height: 38px;
    padding-bottom: 24px;
    opacity: .9;
    text-transform: uppercase;
    letter-spacing: 10px;
    text-align: left;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  
  /* images 
  .custom-slick-list {
    position: relative;
    display: flex;
    align-items: center;
    width: fit-content;
    height: 304px;
    padding: 10px 0px;
    margin: 0px auto;
    max-width: 90vw;
    overflow: hidden;
  }
  
  .custom-slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    transition: .5s ease-in-out;
  }
  
  .custom-slick {
    position: relative;
    width: 206.58px; /* Nuevo ancho 
    height: 116.05px; /* Nueva altura 
    padding: 0 18px;
    float: left;
    box-sizing: border-box;
    display: flex;
    height: 100%;
    margin: 10px; /* Espacio entre las cards 
    border-radius: 8px; /* Borde redondeado 
  }
  
  .custom-slick h4 {
    position: absolute;
    z-index: 1;
    font-size: 16px; /* Tamaño del texto 
    line-height: 20px; /* Espaciado entre líneas 
    color: #fff;
    padding: 10px; /* Espaciado alrededor del texto 
  }
  
  .custom-slick h4 small {
    font-size: 15px;
    display: block;
  }
  
  .custom-slick a img {
    object-fit: cover;
    height: 100%;
    width: 100%;
    border-radius: 8px; /* Borde redondeado 
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.5);
    transition: .3s ease-in-out;
  }
  
  .custom-slick a img:hover {
    opacity: .85;
  }
  
  /* buttons 
  .custom-slick-arrow {
    border-radius: 30px;
    background-color: #fff;
    position: absolute;
    z-index: 4;
    width: 48px;
    height: 48px;
    text-align: center;
    box-shadow: 0 2px 5px 0 rgba(0,0,0,.15);
    border: 0;
    cursor: pointer;
  }
  
  .custom-slick-arrow:focus {
    outline: 0;
  }
  
  .custom-slick-arrow svg {
    width: 12px;
    height: 100%;
    color: rgba(0,0,0,.7);
  }
  
  .custom-slick-prev {
    left: 0px;
  }
  
  .custom-slick-next {
    right: 0px;
    top: 50%;
    transform: translateY(-50%);
  }
    
   
  **/


/*Iniciar Sesion*/

.main-inicioSesion {
  display: flex;
  max-width: 1000px;
  margin: 10px auto;
  box-shadow: 0 0 20px rgba(0,0,0,0.5);
}

.informacion {
  background-image: url(../images/fondo-login.jpg);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 100px 50px;
  text-align: left;
  max-width: 50%;
}

.texto-descripcion,
.informacion h2 {
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  color: var(--main-blanco-color);
  font-size: 25px;
  margin-bottom: 25px;
  text-align: justify;
}



.form-inicioSesion {
  padding: 100px 50px;
  background:var();
}

.form-inicioSesion h2 {
  color: var(--main-pr-sombra1-color);
  margin-bottom: 25px;
 
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.form-inicioSesion p {
  color: var(--main-negro-color);
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.div-inicio {
  display: flex;
  flex-direction: column;

}

.input {
  border-color: var(--main-negro-color);
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 10px 15px;
  margin-bottom: 16px;
  background-color: lightgrey;
  border-radius: 2px;
  width: 100%;
  box-sizing: border-box;
}

p a {
  color: blue;
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.enviar {
  background-color: var(--main-sec-secundario-color);
  padding: 15px;
  border: 0;
  color: var(--main-blanco-color);
  font-size: 14px;
  text-transform: uppercase;
  border-radius: 2px;
  cursor: pointer;
}

label {
  text-align: left;
  font-size:small;
 font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.social {
  display: flex;
  justify-content: center;
  margin-bottom: 20px;
}

.social a {
  margin: 0 10px;
}

.btn-google,
.btn-facebook {
  text-align: center;
  padding: 1px;
}

.inicio-secundario {
  text-align: center;
  margin: 0;
  padding: 10px;
  font-size: small;
}

.texto-info {
  color: var(--main-blanco-color);
  font-size: 15px;
}

.texto-descripcion {
  font-size: 20px;
  max-height: 100px;
  margin-bottom: 10px;
  word-wrap: break-word;
}
/*Registro*/
.main-registro{
  width: 400px;
  padding: 30px;
  margin: auto;
  border-radius: 4px;
  
}
.titulo{
  font-size: 22px;
}
.social-registro{
  display: flex;
  margin:4px;
}
.formDatos{
  
}
