/*Variables*/
@import url("https://fonts.googleapis.com/css2?family=Bangers&display=swap");
:root {
  /*Primario*/
  --main-pr-sombra2-color: #210442;
  --main-pr-sombra1-color: #320b5f;
  --main-primario-color: #461c75;
  --main-pr-luz1-color: #5a308a;
  --main-pr-luz2-color: #744da0;

  /*Secundario*/
  --main-sec-sombra2-color: #210442;
  --main-sec-sombra1-color: #320b5f;
  --main-sec-secundario-color: #262087;
  --main-sec-luz1-color: #3e389d;
  --main-sec-luz2-color: #5954ad;

  /*BLANCO - NEGRO - ACENTO*/
  --main-blanco-color: #eeeaf3;
  --main-negro-color: #180f08;
  --main-acento-color: #a12974;

  /*Estados*/
  --main-verde-color: #3fa349;
  --main-amarillo-color: #c8c116;
  --main-rojo-color: #ae1632;

  /*Encabezado */

  /*Body*/
  --main-gradiente-color: linear-gradient(
    180deg,
    #320b5f 0.14%,
    #171419 99.26%
  );

  /*Fuentes*/
  --font-size-h1: 25px;
  --font-family-h1: "Roboto";

  --font-family-h2: "Roboto";
  --font-size-h2: 25px;
}
body {
  margin: 0;
  background: var(--main-gradiente-color);
}
/*Defino las secciones de la pagina con grid*/
.content {
  width: 100%;
  max-width: 1000px;
  display: grid;
  grid-gap: 1px;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, auto);
  grid-template-areas:
    "header header header"
    "contenido contenido contenido"
    "fat-footer fat-footer fat-footer";
}

.content header,
.content .contenido,
.content .fat-footer {
  background: var(--main-blanco-color);
  padding: 20px;
  border-radius: 4px;
}
/*CARRUSEL RESPOSIVE*/


/*--------------------*/
.content header {
  background: var(--main-gradiente-color);
  color: var(--main-blanco-color);
  grid-area: header;
  /*  grid-column-start:1;
    grid-column-end:-1;*/
}
.content .contenido {
  grid-area: contenido;
  /* grid-column: span 3; */
}

.content-juego header,
.content-juego .contenido-juego,
.content-juego .fat-footer {
  background: var(--main-blanco-color);
  padding: 20px;
  border-radius: 4px;
}

.content header {
  background: var(--main-gradiente-color);
  color: var(--main-blanco-color);
  grid-area: header;
  /*  grid-column-start:1;
    grid-column-end:-1;*/
}
.content .contenido {
  grid-area: contenido;
  /* grid-column: span 3; */
}

.content-juego header {
  background: var(--main-gradiente-color);
  color: var(--main-blanco-color);
  grid-area: header;
  /*  grid-column-start:1;
    grid-column-end:-1;*/
}
.content-juego .contenido-juego {
  grid-area: contenido-juego;
  /* grid-column: span 3; */
}
.content-juego .descripcion-juego {
  grid-area: descripcion-juego;
}
.content-juego .comentarios {
  grid-area: comentarios;
}
.content-juego .fat-footer {
  background: var(--main-gradiente-color);
  max-height: 100%;
  box-sizing: border-box;
  grid-area: fat-footer;
  /*grid-column: span 3; */
}

.navegacion-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.navegacion-list li {
  margin: auto;
  list-style: none;
}

.navegacion-list li img {
  width: 30px;
}
.navegacion-list li svg {
  width: 30px;
}
.navegacion-list li div p {
  display: none;
}

.inputBusqueda {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  background-color: #171419;
  padding: 6px;
  border-radius: 8px;
  width: 80%;
  margin-left: 5px;
}

.inputBusqueda input {
  border: none;
  background-color: #171419;
  padding: 5px;
  border-radius: 8px;
  color: var(--main-blanco-color);
  width: 80%;
  margin-left: 5px;
}

/*FOOTER*/
.content .fat-footer {
  background: var(--main-gradiente-color);
  max-height: 100%;
  box-sizing: border-box;
  grid-area: fat-footer;
  /*grid-column: span 3; */
}
.container-footer {
  max-height: 100%;
}
.footer-row {
  margin-bottom: 0;
  margin-left: auto;
  max-height: 100%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
.fat-footer p {
  margin-top: 1rem;
  text-align: center;
  color: var(--main-blanco-color);
}
.social-links {
  display: flex;
  align-items: center;
  justify-content: center;
}
.links h3 {
  font-size: large;
margin:1rem;
  color: var(--main-blanco-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  text-align: center;
}
.links ul li a {
  margin:auto ;
  display: flex;
  flex-direction:row;
  justify-content: center;
  align-items: center;
  margin-right: 0;
  color: var(--main-blanco-color);
  text-decoration: none;
}
.links ul li {
  margin-right: 3rem;
  list-style: none;
}
/*------------*/

@media only screen and (min-width: 800px) {
  .content {
    max-width: 100%;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "header header header header"
      "header header header header"
      "contenido contenido contenido contenido"
      "contenido contenido contenido contenido"
      "fat-footer fat-footer fat-footer fat-footer"
      "fat-footer fat-footer fat-footer fat-footer";
  }

  .navegacion-list li .mis-juegos p {
    display: flex;
  }
  .mis-juegos {
    display: flex;
    align-items: center; /* Alinea verticalmente en el centro */
  }

  .mis-juegos svg {
    margin-right: 5px; /* Añade un espacio entre el SVG y el texto */
  }

  .inputBusqueda {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    background-color: #171419;
    padding: 6px;
    width: 100%;
  }

  .inputBusqueda input {
    border: none;
    background-color: #171419;
    padding: 5px;
    border-radius: 6px;
    color: var(--main-blanco-color);
    width: 100%;
  }
  hr {
    width: 100%;
  }
  .content .fat-footer {
    background: var(--main-gradiente-color);
  }
  
  .footer-row {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-left: 1rem;
    margin: 0 auto;
  }
  .links {
    display: flex;
    flex-direction: column;
  }

  .social-links {
    margin: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .fat-footer {
    background-color: #f8f8f8; /* Cambia el color de fondo si es necesario */
    padding: 80px; /* Ajusta el espacio interior según tus preferencias */
    text-align: center; /* Centra el texto de los derechos reservados */
  }
  .fat-footer p {
    margin-top: 5rem;
    text-align: center;
    color: var(--main-blanco-color);
  }

  /*pagina de juegos*/

  .content-juego {
    max-width: 100%;
    grid-template-columns: repeat(4, 2fr);
    grid-template-rows: repeat(6, auto);
    grid-template-areas:
      "header header header header"
      "contenido-juego contenido-juego instrucciones instrucciones"
      "contenido-juego contenido-juego instrucciones instrucciones"
      "descripcion-juego descripcion-juego descripcion-juego descripcion-juego"
      "comentarios comentarios comentarios comentarios"
      "fat-footer fat-footer fat-footer fat-footer";
  }

  .content-juego .contenido-juego {
    display: grid;
    grid-area:contenido-juego;
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    background-color: var(--main-pr-sombra2-color);
    /* grid-column: span 3; */
  }

  .content-juego h2 {
    margin-top: 0;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    text-align: center;
    color: var(--main-blanco-color);
  }
  .content-juego p {
    color: var(--main-blanco-color);
  }
  .imagen-juego img {
    max-height: 50%;
    margin-left: 24rem;
    margin-bottom: 1rem;
    width: 50%;
  }

  .content-juego .descripcion-juego {
    border-radius: 2px;
    width: 100%;
    min-height: 50%;
    background-color: var(--main-pr-luz1-color);
    opacity: 0.5px;
  }
  .descripcion-juego img{
    margin-left: 1%;
    width: 5%;
  }
  .content-juego .descripcion-juego h3 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: var(--main-blanco-color);
    text-align: left;
    margin-left: 20px;
  }
  .content-juego .descripcion-juego p {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    color: var(--main-blanco-color);
    text-align: left;
    margin-left: 20px;
  }
  .content-juego .comentarios {
    margin-top: 10px;
    width: 100%;
    min-height: 50%;
    background-color: var();
    opacity: 0.5px;
  }

  .clasificacion p {
    margin: 5px;
    font-size: 16px;
    margin-bottom: 5px;
  }
  hr {
    color: ghostwhite;
  }
  .clasificacion span {
    font-weight: bold;
    color: var(
      --main-blanco-color
    ); /* Cambia el color según tus preferencias */
  }

  .comentarios-seccion {
    max-width: 600px;
    margin: 5px;  
    
  }

  .comentario-nuevo {
    display: flex;
    align-items: center;
    
    margin-bottom: 2rem;
  }

  .foto-usuario {
    width: 50px;
    height: 50px;
    background-color: #ccc; /* Puedes añadir una imagen de perfil aquí */
    border-radius: 50%;
    margin-right: 10px;
    overflow: hidden; /* Esto es importante para aplicar la máscara circular */
    border-radius: 50%; /* Esto creará la máscara circular */
  }
  .foto-usuario img {
    max-width: 100%;
    max-height: 100%;

    height: auto; /* Se ajustará proporcionalmente según el ancho */
    display: block; /* Elimina cualquier espacio adicional causado por márgenes o relleno */
  }
  .comentario-nuevo input {
    width: 80%;
    padding: 10px;
    border: 1px solid var#171419;
    background-color:#171419;
    border-radius: 5px;
  }

  .comentario {
    display: flex;
    align-items: flex-start;
    margin-bottom: 2rem;
  }

  .contenido-comentario {
    margin-left: 10px;
    
  }
  .contenido-comentario p{
    margin-top: 1px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
  }
 
  .contenido-comentario h4{
    margin: 0;
    font-weight: bold;
    color: var(--main-blanco-color);
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  }
  .fecha-hora {
  
    color: #777;
    font-size: 12px;
  }
  .comentar-btn {
    height: 100%;
    padding: 10px;; /* Ajusta el tamaño del botón según sea necesario */
    background-color: var(--main-pr-luz1-color); /* Cambia el color del botón según tus preferencias */
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    margin-top:1px; /* Ajusta el margen superior según sea necesario */
    margin-left: 1rem;
    letter-spacing: 2px;
    box-shadow: 1px 1px 1px var(--main-negro-color);
  }

  .destacados-slider {
    position: relative;
    width: 100%;
    max-width: 539.25px;
    margin: auto;
    overflow: hidden;
    text-align: center;
}

.slider {
    display: flex;
    transition: transform 0.5s ease;
}

.slide {
    width: 100%;
    box-sizing: border-box;
    overflow: hidden;
}

.slide img {
    width: 100%;
    height: auto;
    object-fit: cover;
}

.prev-btn,
.next-btn {
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    font-size: 1.5rem;
    background: transparent;
    border: none;
    cursor: pointer;
}

.prev-btn {
    left: 10px;
}

.next-btn {
    right: 10px;
}
}

.btn-menu {
  margin: 0;
  position: relative;
  text-decoration: none;
  color: var(--main-blanco-color);
}
.btn-usuario {
  margin: 0;
  position: relative;
  text-decoration: none;
  color: var(--main-blanco-color);
}
.btn-menu:hover .menu {
  display: block;
}

.btn-usuario:hover .menu-usuario {
  display: block;
}
.menu {
  display: none;
  border-radius: 2px;
  overflow: hidden;
  background: var(--main-sec-luz1-color);
  position: absolute;
  min-width: 150px;
  box-shadow: 2px 2px 5px var(--main-negro-color);
}
.menu-usuario {
  display: none;
  border-radius: 2px;
  overflow: hidden;
  background: var(--main-sec-luz1-color);
  position: absolute;
  min-width: 150px;
  box-shadow: 2px 2px 5px var(--main-negro-color);
  right: 0;
}

.menu > a {
  color: white;
  text-decoration: none;
}
.menu-usuario > a {
  color: white;
  text-decoration: none;
}
ul.nav {
  width: 100%;
  margin-top: 1px;
  padding: 0rem;
  display: none;
  flex-direction: column;
}
ul.nav-usuario {
  width: 100%;
  margin-top: 1px;
  padding: 0rem;
  display: none;
  flex-direction: column;
}
ul.nav.show {
  display: flex;
}
ul.nav-usuario.show {
  display: flex;
}
ul.nav li {
  list-style: none;
  padding: 0.625rem 0.625rem;
  font-family: "Arial Narrow Bold";
  color: var(--main-blanco-color);
}
ul.nav-usuario li {
  list-style: none;
  padding: 0.625rem 0.625rem;
  font-family: "Arial Narrow Bold";
  color: var(--main-blanco-color);
}

ul.nav a {
  text-decoration: none;
  color: var(--main-negro-color);
}
ul.nav-usuario a {
  text-decoration: none;
  color: var(--main-negro-color);
}
ul.nav li:hover {
  background-color: var(--main-sec-sombra2-color);
}

ul.nav-usuario li:hover {
  background-color: var(--main-sec-sombra2-color);
}


/**
  Estilo de carga
**/
.container{
  width: 100%;
  font-family: 'Roboto';
  background-color: #210442;
}
.loading{
  position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    background: rgba(0, 0, 0, 0.5); /* Añadido: Fondo semi-transparente */  
    
}
.text{
font-size: 80px;
font-weight: 400;
text-align: center;
color: #744DA0;
margin-bottom: 25px;
}
.add{
animation: animate .7s ease-in-out .1s;
}
@keyframes animate {
0%{
  opacity: 1;
}
50%{
  opacity: 0.2;
}
100%{
  opacity: 1;
}
}
.progreso-bar{
width: 406px;
height: 22px;
background: #180F08;

border-radius: 13px;
padding: 3px;
box-sizing: border-box;
}
.progreso{
width: 203px;
height: 16px;
background: #A12974;

border-radius: 13px;
}
.percentaje{
position: absolute;
left: 187px;
color: #EEEAF3;
opacity: 0.5;
font-size: 15px;
font-weight: bold;
letter-spacing: 1px;
line-height: 23px;
}

/*Iniciar Sesion*/
.main-inicioSesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 2rem;
  margin-bottom: 2rem;

  margin-left: 35rem;
  background-color: var(--main-pr-sombra2-color);
  width: 22rem;
  padding: 2rem;
  border-radius: 8px;
  box-shadow: 5px var(--main-negro-color);
}

.form-inicioSesion {
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin: 10px;
  width: 100%;
}

.main-inicioSesion h2 {
  color: var(--main-blanco-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.form-inicioSesion p {
  color: var(--main-negro-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.texto-link {
  color: var(--main-blanco-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}
.div-inicio {
  display: flex;
  flex-direction: column;
}

.input {
  border-color: var(--main-negro-color);
  border-width: 0px 0px 0px 5px;
  border-style: solid;
  padding: 10px 15px;
  margin-bottom: 16px;
  background-color: lightgrey;
  border-radius: 8px;
  width: 100%;
  box-sizing: border-box;
}

p a {
  color: var(--main-blanco-color);
  text-decoration: none;
  margin-bottom: 10px;
  font-size: 15px;
}

.btn-cuenta {
  background: linear-gradient(
    90deg,
    #320b5f -0.01%,
    #461c75 100.08%,
    #4e247d 100.08%
  );
  padding: 12px;
  border: 0;
  width: 100%;
  font-family: "Roboto";
  color: var(--main-blanco-color);
  font-size: 15px;
  text-transform: uppercase;
  border-radius: 8px;
  cursor: pointer;
  margin-top: 15px;
  letter-spacing: 5px;
}

label {
  margin: 5px;
  color: var(--main-blanco-color);
  text-align: left;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.social {
  display: flex;
  justify-content: center;
  margin: 0.5 rem;
}

.social a {
  margin: 0 10px;
}

.btn-google,
.btn-facebook {
  text-align: center;
  padding: 1px;
}

.inicio-secundario {
  color: var(--main-blanco-color);
  text-align: center;
  margin: 1 rem;
  padding: 1px;
  font-size: small;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.logo-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.logo-container img {
  padding-left: 50px;
  margin: 0;
  width: 50px;
  text-align: center;
}

.success-message {
  background-color: #4caf50; /* Color de fondo verde */
  color: #fff; /* Texto blanco */
  border-radius: 4px; /* Bordes redondeados */
  padding: 10px 20px; /* Espaciado interno */
  margin-bottom: 10px; /* Espacio entre elementos */
  opacity: 0; /* Inicialmente invisible */
  transform: scale(0.8); /* Escala inicial más pequeña */
  transition: opacity 0.3s ease, transform 0.3s ease; /* Transiciones suaves */
}

.success-message.show {
  opacity: 1; /* Hacer visible */
  transform: scale(1); /* Restaurar la escala normal */
}

/*Registro*/
.main-registro {
  margin-top: 1rem;
  margin-bottom: 1rem;
  margin-left: 35rem;
  width: 400px;
  padding: 30px;
  border-radius: 4px;
  font-family: var(--font-family-h1);
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  background-color: var(--main-pr-sombra2-color);
  border-radius: 8px;
  box-shadow: 5px var(--main-negro-color);
}
.recapcha img{
  margin-top: 3px;
  width: 40%;
  margin-left: 120px;
/* Asegúrate de que la imagen esté visible inicialmente */
}
.recapcha {
  position: relative;
  display: inline-block;
}
#checkmark {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  transition: opacity 0.5s;
}
.main-registro h2 {
  color: var(--main-blanco-color);
  font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto,
    Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
}

.separador {
  color: var(--main-blanco-color);
}
.main-registro .logo-container img {
  padding-left: 30px;
  margin: 0;
  width: 50px;
  text-align: center;
}
